*/dist
*/node_modules
dist-ssr
*.local
.env

logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

.DS_Store

*/coverage
*/.nyc_output

*/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

*/.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?